.profile-img-btn {
  float: right;
  height: 32px;
  width: 32px;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  background-color: white;
  transition: none;
  animation: weaving ease-in-out 0.7s;

  img.profile {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
  img.pointer {
    top: 60%;
    left: 50%;
    width: 16px;
    height: auto;
    position: absolute;
    animation: floating ease-in-out 2s infinite alternate;
  }
  img.crown {
    width: 24px;
    position: absolute;
    top: -40%;
    left: -15%;
    transform: rotate(-40deg);
  }

  &:hover {
    transition: none;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px;
  }
}
// 👑
