.hide {
  display: none;
}
ul,
ol,
li {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
body {
  margin: 0;
}
.app {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .app {
    max-width: 760px;
  }
  .header {
    padding: 10px 75px 10px 75px;
  }
}
@media (max-width: 768px) {
  .app {
    margin: 0 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  z-index: 1;
  max-width: calc(100vw - 20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #ffffff;
}
.shadow-8 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
}
.shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.header .home {
  display: inline;
  float: left;
  font-size: 23px;
  cursor: pointer;
}
.header .text {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: bottom;
  cursor: pointer;
  padding-top: 2px;
}
.header .name {
  // margin-left: 10px;
  float: left;
}
.header .dark-mode {
  float: right;
}

.f-20 {
  font-size: 20px;
}
.f-red {
  color: rgb(255, 23, 23);
}
body {
  background-color: #f7f6f2;
}
body * {
  transition: background-color ease-in 0.5s, color ease 0.1s;
}
body.dark,
body.dark > * {
  color: white;
}
body.dark {
  background: #383c43;
  background-color: #383c43;
}
body.dark .header {
  background: #282c35;
  background-color: #282c35;
}
body.dark a {
  color: #ffff9a;
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@for $i from 1 through 100 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .ml-#{$i} {
    margin-right: #{$i}px;
  }
  .mt-#{$i} {
    margin-right: #{$i}px;
  }
  .mb-#{$i} {
    margin-right: #{$i}px;
  }
  .pr-#{$i} {
    margin-right: #{$i}px;
  }
  .pl-#{$i} {
    margin-right: #{$i}px;
  }
  .pt-#{$i} {
    margin-right: #{$i}px;
  }
  .pb-#{$i} {
    margin-right: #{$i}px;
  }
}
@keyframes weaving {
  0% {
    left: 50%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 35%;
  }
  70% {
    left: 50%;
  }
  95% {
    left: 35%;
  }
  100% {
    left: 50%;
  }
}
@keyframes floating {
  0% {
    top: 70%;
  }
  20% {
    top: 50%;
  }
  40% {
    top: 70%;
  }
  60% {
    top: 50%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

@keyframes checkcheck {
  0% {
    transform: rotate(4deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes checkcheck-hover {
  0% {
    transform: rotate(4deg) scale(1.2);
  }
  10% {
    transform: rotate(-2deg) scale(1.2);
  }
  20% {
    transform: rotate(4deg) scale(1.2);
  }
  30% {
    transform: rotate(-2deg) scale(1.2);
  }
  40% {
    transform: rotate(4deg) scale(1.2);
  }
  50% {
    transform: rotate(-2deg) scale(1.2);
  }
  60% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}
