body {
  margin: 0;
}
#app {
  margin: 0 auto;
  padding-top: 80px;
}

@media (min-width: 900px) {
  #app {
    width: 900px;
    padding: 10px 75px 10px 75px;
  }
}

#app.markdown-body h1 {
  padding: 0;
  display: inline-block;
  border-bottom: solid 10px lightgreen;
}
#app.markdown-body h2 {
  border-bottom: unset;
  text-decoration: underline 4px;
  text-decoration-color: lightgreen;
}
#app.markdown-body ol,
#app.markdown-body ul {
  padding-left: 1.5em;
  border-left: solid 4px greenyellow;
}

#header {
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #ffffff;
}

#header .text {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  vertical-align: bottom;
  cursor: pointer;
}
#header .name {
  padding-left: 5px;
  float: left;
}
#header .share {
  padding-left: 5px;
  float: right;
}
#header img {
  width: 32px;
  border-radius: 16px;
  float: left;
}
