body {
  margin: 0;
}
#app {
  margin: 0 auto;
  padding-top: 60px;
}

@media (min-width: 900px) {
  #app {
    max-width: 760px;
  }
  #header {
    padding: 10px 75px 10px 75px;
  }
}
@media (max-width: 760px) {
  /* body {
    background: #ebebeb;
  } */
  #app {
    background: #ffffff;
    margin: 0 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#header {
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #ffffff;
}

#header .text {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: bottom;
  cursor: pointer;
  padding-top: 2px;
}
#header .name {
  padding-left: 5px;
  float: left;
}
#header .share {
  padding-left: 5px;
  float: right;
}
#header img {
  width: 32px;
  border-radius: 16px;
  float: left;
}
